{% extends 'base.html.twig' %}

{% block title %}Mettre à jour votre profil
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center my-5">Mettre a jour votre profil</h1>
        {{ form_start(userForm) }}
        {{ form_row(userForm.firstname)}}
        {{ form_row(userForm.lastname)}}
        {{ form_row(userForm.email)}}
        
        <button type="submit" class="btn btn-primary" formnovalidate>Appliquer les modifications </button>
        {{ form_end(userForm) }}   
    </div>
</div>
{% endblock %}