{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="row">
<div align="center" class="col-md-3 mx-auto">
<h1>Veuillez vous connecter</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
        </div>
    {% endif %}

  
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <div class="mb-3 text-center">
    <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié ?

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
<div class="mb-3 text-center">
    <button class="btn btn-lg btn-primary" type="submit">
       se connecter
    </button>
    </div>
</div>
     <div class="mb-3 text-center">
     Pas encore inscrit ?<a href="{{ path ('app_register')}}">  Créer un compte </a>
    </div>
    </form>
</div>
</div>

{% endblock %}
