<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="{{ path('app_home') }}" style="color: white;">Youtube</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">

         {% if app.user %}
         {% if app.user.isVerified %}

         

          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_video_create') }}" style="color: white;">Créer une Vidéo</a>
          </li>
         {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account') }}" style="color: white;">Compte</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}" style="color: white;">Se Déconnecter</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{{ path ('app_register')}}" style="color: white;">S'Enregistrer</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}" style="color: white;">Se Connecter</a>
          </li>
          {% endif %}
         
         
        
      </div>
    </div>
  </nav>
